fastapi>=0.95
uvicorn[standard]>=0.21
SQLAlchemy>=2.0
psycopg2-binary>=2.9
alembic>=1.10
python-dotenv>=1.0
pydantic[email]
pydantic-settings
passlib[bcrypt]
PyJWT
requests>=2.31
beautifulsoup4>=4.12
